ut03-XML-DTD-Schemas/ejemplos-clase/ejemplo09-fichas-restricciones/fichas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fichas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ficha" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ficha">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="nombreFicha"/>
        <xs:element name="edad" type="edadFicha"/>
      </xs:sequence>
      <xs:attribute name="numero" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="nombreFicha">
    <xs:restriction base="xs:string">
      <xs:minLength value="3"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="edadFicha">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="17"/>
      <xs:maxInclusive value="65"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
